<div class="container-fluid  mt-3">
  
  <div class="row">
    <app-nav></app-nav>
   
      <div *ngIf="auth.user | async; else showLogin">
        <router-outlet></router-outlet>
      </div>

    <ng-template #showLogin>
      <div class="row">
        <app-kategoriak (kategoriaValtas)="kategoriaValtas($event)"></app-kategoriak>
        <app-aruk [kategoria]="kategoria"></app-aruk>
        <div class="container">
          <firebase-ui (signInSuccessWithAuthResult)="sikeresBelepes($event)" (signInFailure)="sikertelenBelepes($event)"
          ></firebase-ui>
          <app-kosar></app-kosar>
        </div>
      </div>
    </ng-template>
  </div>
  
  
 
